<%= stylesheet_link_tag "form" %>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<%= form_for @user do |form|%>
<h1><%= title %></h1>
<div class="icon">
  <i class="fas fa-user-circle"></i>
</div>
<div class="formcontainer">
  <div class="container">
    <label for="uname"><strong>Username</strong></label>
    <%= form.text_field :username, :class => 'text' %>
    <label for="mail"><strong>E-mail</strong></label>
    <%= form.text_field :email, :class => 'text' %>
    <label for="psw"><strong>Password</strong></label>
    <%= form.password_field :password, :class => 'password'%>
  </div>
  <%= form.submit 'Submit', :class => 'button' %>
<% end %>