<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>New User Page</h1>

 <%= form_for(@user) do |f|%>
    <%= f.label :username, 'Enter your username' %><br>
    <%= f.text_field :username%><br>
    <%= f.label :email, 'Email' %><br>
    <%= f.email_field :email, placeholder: "Email@example.com"%><br>
    <%= f.label :password, 'Password' %><br>
    <%= f.password_field :password%> <br>
    <%= f.submit %>
<%end%>
</body>
</html>